main {
    display: grid;
    /* grid-template-columns: repeat(auto,"100px"); */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px;
    width: fit-content;
}

.hidden {
    visibility: hidden;
}

.box {
    border: 1px solid;
    height: 100px;
    width: 100px;
}

.selected {
    background-color: green;
}
